{% extends 'base.html.twig' %}

{% block title %}Registration index{% endblock %}

{% block body %}
    <div class="container-fluid symfony-form registration-index" style="overflow-x:auto;">
    <h1>Entries to show</h1>

        <input type="text" id="myInput" onkeyup="myFilterFunction()" placeholder="Search by pet name..">

    <table class="table" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th class="hidden-phone">Date</th>
                <th>Status</th>
                <th>Show</th>
                <th>Owner</th>
                <th>Dog in show</th>
                <th>actions</th>

                {% if is_granted ('ROLE_ADMIN') %}
                    <th visible-sm-block hidden-sm>Delete</th>
                <th>Add diploma</th>
                <th>Generate card</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for registration in registrations %}
            <tr>
                <td>{{ registration.id }}</td>
                <td class="hidden-phone">{{ registration.createdAt ? registration.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ registration.isConfirmed ? 'Confirmed' : 'Pending' }}</td>
                {% if registration.show.city is defined %}
                <td>{{ registration.show.city }}, {{ registration.show.dateShow ? registration.show.dateShow|date('Y-m-d') : ''}}</td>
                {% endif %}
                {% if  registration.dog.owner.name is defined%}
                <td>{{ registration.dog.owner.name }} {{ registration.dog.owner.surname }} </td>
                {% endif %}
                {% if registration.dog %}
                <td>{{ registration.dog.registeredName | capitalize}}</td>
                {% endif %}
                <td>
                    <button class="btn btn-primary"><a style="color: white" href="{{ path('registration_show', {'id': registration.id}) }}">show</a></button>
                    <button class="btn btn-primary"><a style="color: white" href="{{ path('registration_edit', {'id': registration.id}) }}">edit</a></button>
                </td>
                <td visible-sm-block hidden-sm>{{ include('registration/_delete_form.html.twig') }}</td>
                {% if is_granted ('ROLE_ADMIN') %}
                <td>
                    <a href="{{ path('diploma_new', {'registration' : registration.id}) }}">add diploma</a>
                </td>
                {% endif %}
                {% if is_granted ('ROLE_ADMIN') %}
                <td>
                    <button class="btn btn-default"><a style="color: darkblue" href="{{ path('card_pdf', {'id' : registration.id}) }}">Generate card</a></button>
                </td>
                {% endif %}

            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% include 'registration/pagination.html.twig' with {'maxPages': maxPages, 'thisPage': currentPage, 'routeName': routeName} %}
        <hr>

    <a href="{{ path('registration_new') }}">Create new entry</a>
</div>
{% endblock %}

{% block javascripts %}

    <script>
        function myFilterFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[5];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

{% endblock %}
