{% trans_default_domain 'FOSUserBundle' %}
<div class="container reset-password">
<h3>Pakeisti slaptažodį ar vartotojo vardą / Reset password or username</h3>
<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div>
        <label for="username">{{ 'resetting.request.username'|trans }} / vartotojo el.pašto adresas </label>&nbsp;&nbsp;
        <input type="text" id="username" name="username" required="required" />
    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
</div>