{% block subject 'Registration confirmation email / Registracijos patvirtinimas' %}

{% block html_content %}

    <div class="container">
    <h4>Sveiki, {{ user }},</h4><br>

        Jūsų augintinio <strong>{{ dog }}</strong> registracija į parodą <strong>{{ show }}</strong> patvirtinta.
    <br>
    <hr>
    <h4>Hello {{ user }}!</h4><br>

        Your pet's <strong>{{ dog }}</strong> entry to show taking place in <strong>{{ show }}</strong> has been confirmed.

    <br><br><hr>
        {{ include('_pdffooter.html.twig') }}
    </div>

{% endblock %}


