{% block subject 'Slaptažodžio keitimas / Password resetting' %}

{% block html_content %}

    <h1>Sveiki, {{ app.user }}!</h1><br>
    Slaptažodį galite pakeisti spustlėję šią nuorodą:

    {#{% for registration in registrations %}#}
    You can change the password following this link:

    {#Jūsų registracija į parodą {{ app.user.owner.dog.registration.show.placeAndTime }}#}
    {#{% endfor %}#}
{% endblock %}