{% trans_default_domain 'FOSUserBundle' %}
<div class="container" id="login_page">
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="login">
<form action="{{ path("fos_user_security_check") }}" method="post" style="">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    {#<div class="form-group">#}
    {#<label for="username">{{ 'security.login.username'|trans }}</label>#}
    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="username or email" required="required" autocomplete="username" />
    {#</div>#}
    {#<div class="form-group">#}
    {#<label for="password">{{ 'security.login.password'|trans }}</label>#}
    <input type="password" id="password" name="_password" required="required" placeholder="password" autocomplete="current-password" />
    {#</div>#}
    <div class="form-group">
    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
    </div>
    <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
</form>
    <p>Not a member yet? <a href="{{ path('fos_user_registration_register') }}">Go ahead and register.</a></p>
    <p>Forgot the password? No worries, reset your password or username. <a href="{{ path('fos_user_resetting_request') }}">Click here. </a></p>
</div>
<div class="shadow"></div>
</div>

