<form method="post" action="{{ path('dog_delete', {'id': dog.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dog.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>